[SERIAL]
Password: 0000                          ;Change with your own Master PIN
SERIAL_PORT: /dev/ttyS1                 ;For USB370 module use /dev/ttyUSB0

[MQTT Broker]
IP: 127.0.0.1
Port: 1883

[Alarm]
Alarm_Model = ParadoxMG5050             ;Currently not used
Alarm_Registry_Map = ParadoxMG5050      ;This is used to map to the correct dictionary class within the ParadoxMap.py package. The word "Registers" is appended before loading.
Alarm_Event_Map = ParadoxMG5050         ;This is used to map to the correct dictionary class within the ParadoxMap.py package. The word "EventMap" is appended before loading.
Zone_Amount = 16                        ;Expandable to 32 zones

[MQTT Topics]
Topic_Publish_Events = Paradox/Events   ;The main topic used to publish all events
Events_Payload_Numeric = False              ;True=Events are reported using numeric value [not replaced by the dictionary]. False=Events are translated to more meaningful text from the dictionary, if your alarm is supported.
Topic_Subscribe_Control=Paradox/Control/      ;All controls are given through this high-level topic
Startup_Publish_All_Info = True         ;Upon startup publish all labels from the alarm (configured names of things), only application when reading (updating) labels
Topic_Publish_Labels = Paradox/Labels   ;The topic used to publish labels
Topic_Publish_Status = Paradox/Status   ;The topic used to publish alarm status
Topic_Publish_AppState = Paradox/State  ;Publishes the scripts internal states, useful to check if connection is alive

[Application]
Debug_Mode = 2                          ;0=Minimal, 1=Basic, 2=Verbose
Startup_Update_All_Labels = True        ;Upon startup collect all labels from the alarm (configured names of things). Required for config item: Topic_Publish_Labels. If you see the script stuck at trying to update the labels, then disable this option
